.d(@type:block){
	display: ~"@{type}";
}
.ac(@a:center){
	align-content: @a;
}
.ai(@a:center){
	align-items: @a;
}
.ff(@dir:row, @wrap:wrap){
	flex-flow: @dir @wrap;
}
.jc(@j:center){
	justify-content: @j;
}
.ji(@j:center){
	justify-items: @j;
}
.fb(@fb:100%){
	flex-basis: @fb;
}
.w(@width:100%){
	width: @width;
	max-width: @width;
}
.fw(@wrap:wrap){
	flex-wrap: @wrap;
}
.fl(@flex:0 1 100%){
	-ms-flex: @flex;
	flex: @flex;
}

.make-col(@w:100%){
	.fl(0 0 @w);
	max-width: @w;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.nopad{
	padding: 0;
}
.nomarg{
	margin: 0;
}

.df{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

.jc-{
	&center{
		.jc();
	}
	&sa{
		.jc(space-around);
	}
	&sb{
		.jc(space-between);
	}
	&se{
		.jc(space-evenly);
	}
}

.ac-{
	&center{
		.ac();
	}
}

.ai-{
	&center{
		.ai();
	}
}

.hide{
	.d(none);
}


.container{
	.d(block);
	.w(100%);
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@media screen and (min-width:768px) {
		&-full{
			.w(100%);
		}
		.w(720px);
	}
	@media screen and (min-width:992px) {
		.w(960px);
	}
	@media screen and (min-width:1200px) {
		.w(1140px);
	}

}

.row{
	.d(flex);
	.w(100%);
	.fw();
	margin-right: -15px;
	margin-left: -15px;
}

.col{
	.make-col(100%);
	&-xs{
		&-1{
			.make-col(8.33%);
		}
		&-2{
			.make-col(16.67%);
		}
		&-3{
			.make-col(25%);
		}
		&-4{
			.make-col(33.33%);
		}
		&-5{
			.make-col(41.66%);
		}
		&-6{
			.make-col(50%);
		}
		&-7{
			.make-col(58.33%);
		}
		&-8{
			.make-col(66.67%);
		}
		&-9{
			.make-col(75%);
		}
		&-10{
			.make-col(91.67%);
		}
		&-11{
			.make-col(8.33%);
		}
		&-12{
			.make-col(100%);
		}
	}
	@media screen and (min-width:768px) {
		&-sm{
			&-1{
				.make-col(8.33%);
			}
			&-2{
				.make-col(16.67%);
			}
			&-3{
				.make-col(25%);
			}
			&-4{
				.make-col(33.33%);
			}
			&-5{
				.make-col(41.66%);
			}
			&-6{
				.make-col(50%);
			}
			&-7{
				.make-col(58.33%);
			}
			&-8{
				.make-col(66.67%);
			}
			&-9{
				.make-col(75%);
			}
			&-10{
				.make-col(91.67%);
			}
			&-11{
				.make-col(8.33%);
			}
			&-12{
				.make-col(100%);
			}
		}
	}
	@media screen and (min-width:992px) {
		&-md{
			&-1{
				.make-col(8.33%);
			}
			&-2{
				.make-col(16.67%);
			}
			&-3{
				.make-col(25%);
			}
			&-4{
				.make-col(33.33%);
			}
			&-5{
				.make-col(41.66%);
			}
			&-6{
				.make-col(50%);
			}
			&-7{
				.make-col(58.33%);
			}
			&-8{
				.make-col(66.67%);
			}
			&-9{
				.make-col(75%);
			}
			&-10{
				.make-col(91.67%);
			}
			&-11{
				.make-col(8.33%);
			}
			&-12{
				.make-col(100%);
			}
		}
	}
	@media screen and (min-width:1200px) {
		&-lg{
			&-1{
				.make-col(8.33%);
			}
			&-2{
				.make-col(16.67%);
			}
			&-3{
				.make-col(25%);
			}
			&-4{
				.make-col(33.33%);
			}
			&-5{
				.make-col(41.66%);
			}
			&-6{
				.make-col(50%);
			}
			&-7{
				.make-col(58.33%);
			}
			&-8{
				.make-col(66.67%);
			}
			&-9{
				.make-col(75%);
			}
			&-10{
				.make-col(91.67%);
			}
			&-11{
				.make-col(8.33%);
			}
			&-12{
				.make-col(100%);
			}
		}
	}
}
