@import (inline) url(../../node_modules/normalize.css/normalize.css);
@import url(functions.less);

*{
	box-sizing: border-box;
}
body{
	font: normal 14px / 1.2 sans-serif;
}
.img-responsive{
	.w(100%);
}
.main-container{
	min-height: 100vh;
	.df();
	.ff(column);
	.jc();
}
.generator{
	.jc(center);
	margin: 20px 0;
}
.imgwrapper{
	position: relative;
	.imageinfo{
		.d(none);
		.ff(column, nowrap);
		.jc(center);
		.ai(center);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.5);
		color: #fff;
	}
	&:hover{
		.imageinfo{
			.df();
		}
	}
}
.btn{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	&.hide{
		display: none!important;
	}
	&:hover{
		background-color: #37913a;
	}
}
.input{
	padding: 13px 17px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.table{
	border-collapse: collapse;
	width: 100%;
	margin: 20px 0;

	thead{
		font-weight: bold;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
}
